In [1]:
#Import and initiate findspark Then import pyspark
import findspark
findspark.init("/usr/local/spark")
import pyspark

In [2]:
from pyspark.sql import SparkSession
appName = "PySpark Hive Example"
master = "local"
# Create Spark session with Hive supported.
spark = SparkSession.builder \
.appName(appName) \
.master(master) \
.enableHiveSupport() \
.getOrCreate()

# 3.1 Q1) Develop a PySpark application to load data Spark DataFrames and save it into Hive tables on a Hadoop cluster in an optimized format.

Loading data from hdfs

In [3]:
EmpJoining=spark.read.csv('Employee_joining_status.csv', inferSchema=True,header=True)

In [4]:
EmpJoining.show()

+-------------+----------+
|Candidate Ref|    Status|
+-------------+----------+
|      2110407|    Joined|
|      2112635|    Joined|
|      2112838|    Joined|
|      2115021|    Joined|
|      2115125|    Joined|
|      2117167|    Joined|
|      2119124|    Joined|
|      2127572|    Joined|
|      2138169|    Joined|
|      2143362|    Joined|
|      2151180|Not Joined|
|      2154264|    Joined|
|      2156236|Not Joined|
|      2158703|Not Joined|
|      2161257|Not Joined|
|      2162487|    Joined|
|      2166041|Not Joined|
|      2172982|    Joined|
|      2173730|    Joined|
|      2175237|    Joined|
+-------------+----------+
only showing top 20 rows

In [5]:
HrDetails=spark.read.csv('hr_Hiring_details.csv', inferSchema=True,header=True)

In [6]:
HrDetails.show()

+---+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+---------+---+------+----+
|Sno|Candidate Ref|DOJ Extended|Duration to accept offer|Notice period|Offered band|Pecent hike expected in CTC|Percent hike offered in CTC|Percent difference CTC|Joining Bonus|Candidate relocate actual|Gender| Candidate Source|Rex in Yrs| Location|Age|LOB_id|_c17|
+---+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+---------+---+------+----+
|  1|      2110407|         Yes|                      14|           30|          E2|                     -20.79|                      13.16|                 42.86|           No|                       No|Female|           Agency|         7|    Noida| 34|     1|null|
|  2|      2112635|          No|                      18|           30|          E2|                       50.0|                      320.0|                 180.0|           No|                       No|  Male|Employee Referral|         8|  Chennai| 34|     2|null|
|  3|      2112838|          No|                       3|           45|          E2|                      42.84|                      42.84|                   0.0|           No|                       No|  Male|           Agency|         4|    Noida| 27|     2|null|
|  4|      2115021|          No|                      26|           30|          E2|                      42.84|                      42.84|                   0.0|           No|                       No|  Male|Employee Referral|         4|    Noida| 34|     2|null|
|  5|      2115125|         Yes|                       1|          120|          E2|                      42.59|                      42.59|                   0.0|           No|                      Yes|  Male|Employee Referral|         6|    Noida| 34|     2|   `|
|  6|      2117167|         Yes|                      17|           30|          E1|                      42.83|                      42.83|                   0.0|           No|                       No|  Male|Employee Referral|         2|    Noida| 34|     2|null|
|  7|      2119124|         Yes|                      37|           30|          E2|                      31.58|                      31.58|                   0.0|           No|                       No|  Male|Employee Referral|         7|    Noida| 32|     2|null|
|  9|      2127572|         Yes|                      16|            0|          E1|                      -20.0|                      -20.0|                   0.0|           No|                       No|Female|           Direct|         8|    Noida| 34|     3|null|
| 11|      2138169|          No|                       1|           30|          E1|                     -22.22|                     -22.22|                   0.0|           No|                       No|Female|Employee Referral|         3|  Gurgaon| 26|     4|null|
| 12|      2143362|          No|                       6|           30|          E1|                      240.0|                      220.0|                 -5.88|           No|                       No|  Male|Employee Referral|         3|  Chennai| 34|     5|null|
| 13|      2151180|          No|                     120|           30|          E2|                       5.26|                     -60.53|                 -62.5|           No|                       No|  Male|Employee Referral|         3|    Noida| 34|     2|null|
| 14|      2154264|          No|                       3|            0|          E2|                      28.21|                      37.18|                   7.0|           No|                       No|  Male|Employee Referral|         7|  Chennai| 34|     2|null|
| 15|      2156236|         Yes|                      14|           30|          E2|                       50.0|                      287.5|                158.33|           No|                       No|  Male|           Agency|         7|    Noida| 29|     2|null|
| 16|      2158703|          No|                      44|           75|          E2|                      45.45|                       60.0|                  10.0|           No|                       No|  Male|           Direct|         8|    Noida| 34|     2|null|
| 17|      2161257|          No|                       7|           30|          E3|                      53.85|                       50.0|                  -2.5|           No|                       No|  Male|Employee Referral|         5|    Noida| 34|     2|null|
| 18|      2162487|          No|                       1|           30|          E3|                     -27.31|                     -27.31|                   0.0|           No|                       No|  Male|           Direct|        18|Bangalore| 34|     6|null|
| 19|      2166041|         Yes|                      98|           30|          E2|                       50.0|                     165.36|                 76.91|           No|                       No|  Male|           Agency|         8|    Noida| 36|     2|null|
| 20|      2172982|          No|                       1|            0|          E2|                       30.0|                       30.0|                   0.0|           No|                       No|  Male|           Direct|         6|    Noida| 34|     2|null|
| 21|      2173730|          No|                       1|           30|          E1|                     -13.42|                      42.86|                  65.0|           No|                       No|  Male|           Direct|         1|  Gurgaon| 34|     2|null|
| 22|      2175237|          No|                       7|           30|          E1|                     221.43|                     164.29|                -17.78|           No|                       No|  Male|           Direct|         2|    Noida| 34|     1|null|
+---+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+---------+---+------+----+
only showing top 20 rows

In [7]:
HrDetails.printSchema()

root
 |-- Sno: integer (nullable = true)
 |-- Candidate Ref: integer (nullable = true)
 |-- DOJ Extended: string (nullable = true)
 |-- Duration to accept offer: integer (nullable = true)
 |-- Notice period: integer (nullable = true)
 |-- Offered band: string (nullable = true)
 |-- Pecent hike expected in CTC: double (nullable = true)
 |-- Percent hike offered in CTC: double (nullable = true)
 |-- Percent difference CTC: double (nullable = true)
 |-- Joining Bonus: string (nullable = true)
 |-- Candidate relocate actual: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Candidate Source: string (nullable = true)
 |-- Rex in Yrs: integer (nullable = true)
 |-- Location: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- LOB_id: integer (nullable = true)
 |-- _c17: string (nullable = true)

In [8]:
Lob=spark.read.csv('LOB_mapping_P4.csv', inferSchema=True,header=True)

In [9]:
Lob.show()

+------+----------+
|LOB_id|       LOB|
+------+----------+
|     1|       ERS|
|     2|     INFRA|
|     3|Healthcare|
|     4|      BFSI|
|     5|      CSMP|
|     6|       ETS|
|     7|      AXON|
|     8|       EAS|
|     9|       MMS|
+------+----------+

# DATA TRANSFORMATION

In [10]:
HrDetails=HrDetails.withColumnRenamed("Candidate Ref","Candidate_Ref")\
       .withColumnRenamed("Duration to accept offer","Duration_to_accept_offer")\
       .withColumnRenamed("DOJ Extended","DOJ_Extended")\
       .withColumnRenamed("Notice period","Notice_period")\
       .withColumnRenamed("Offered band","Offered_band")\
       .withColumnRenamed("Pecent hike expected in CTC","Pecent_hike_expected_in_CTC")\
       .withColumnRenamed("Percent hike offered in CTC","Percent_hike_offered_in_CTC")\
       .withColumnRenamed("Percent difference CTC","Percent_difference_CTC")\
       .withColumnRenamed("Joining Bonus","Joining_Bonus")\
       .withColumnRenamed("Candidate relocate actual","Candidate_relocate_actual")\
       .withColumnRenamed("Candidate Source","Candidate_Source")\
       .withColumnRenamed("Rex in Yrs","Rex_in_Yrs")

In [11]:
HrDetails.show()

+---+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+---------+---+------+----+
|Sno|Candidate_Ref|DOJ_Extended|Duration_to_accept_offer|Notice_period|Offered_band|Pecent_hike_expected_in_CTC|Percent_hike_offered_in_CTC|Percent_difference_CTC|Joining_Bonus|Candidate_relocate_actual|Gender| Candidate_Source|Rex_in_Yrs| Location|Age|LOB_id|_c17|
+---+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+---------+---+------+----+
|  1|      2110407|         Yes|                      14|           30|          E2|                     -20.79|                      13.16|                 42.86|           No|                       No|Female|           Agency|         7|    Noida| 34|     1|null|
|  2|      2112635|          No|                      18|           30|          E2|                       50.0|                      320.0|                 180.0|           No|                       No|  Male|Employee Referral|         8|  Chennai| 34|     2|null|
|  3|      2112838|          No|                       3|           45|          E2|                      42.84|                      42.84|                   0.0|           No|                       No|  Male|           Agency|         4|    Noida| 27|     2|null|
|  4|      2115021|          No|                      26|           30|          E2|                      42.84|                      42.84|                   0.0|           No|                       No|  Male|Employee Referral|         4|    Noida| 34|     2|null|
|  5|      2115125|         Yes|                       1|          120|          E2|                      42.59|                      42.59|                   0.0|           No|                      Yes|  Male|Employee Referral|         6|    Noida| 34|     2|   `|
|  6|      2117167|         Yes|                      17|           30|          E1|                      42.83|                      42.83|                   0.0|           No|                       No|  Male|Employee Referral|         2|    Noida| 34|     2|null|
|  7|      2119124|         Yes|                      37|           30|          E2|                      31.58|                      31.58|                   0.0|           No|                       No|  Male|Employee Referral|         7|    Noida| 32|     2|null|
|  9|      2127572|         Yes|                      16|            0|          E1|                      -20.0|                      -20.0|                   0.0|           No|                       No|Female|           Direct|         8|    Noida| 34|     3|null|
| 11|      2138169|          No|                       1|           30|          E1|                     -22.22|                     -22.22|                   0.0|           No|                       No|Female|Employee Referral|         3|  Gurgaon| 26|     4|null|
| 12|      2143362|          No|                       6|           30|          E1|                      240.0|                      220.0|                 -5.88|           No|                       No|  Male|Employee Referral|         3|  Chennai| 34|     5|null|
| 13|      2151180|          No|                     120|           30|          E2|                       5.26|                     -60.53|                 -62.5|           No|                       No|  Male|Employee Referral|         3|    Noida| 34|     2|null|
| 14|      2154264|          No|                       3|            0|          E2|                      28.21|                      37.18|                   7.0|           No|                       No|  Male|Employee Referral|         7|  Chennai| 34|     2|null|
| 15|      2156236|         Yes|                      14|           30|          E2|                       50.0|                      287.5|                158.33|           No|                       No|  Male|           Agency|         7|    Noida| 29|     2|null|
| 16|      2158703|          No|                      44|           75|          E2|                      45.45|                       60.0|                  10.0|           No|                       No|  Male|           Direct|         8|    Noida| 34|     2|null|
| 17|      2161257|          No|                       7|           30|          E3|                      53.85|                       50.0|                  -2.5|           No|                       No|  Male|Employee Referral|         5|    Noida| 34|     2|null|
| 18|      2162487|          No|                       1|           30|          E3|                     -27.31|                     -27.31|                   0.0|           No|                       No|  Male|           Direct|        18|Bangalore| 34|     6|null|
| 19|      2166041|         Yes|                      98|           30|          E2|                       50.0|                     165.36|                 76.91|           No|                       No|  Male|           Agency|         8|    Noida| 36|     2|null|
| 20|      2172982|          No|                       1|            0|          E2|                       30.0|                       30.0|                   0.0|           No|                       No|  Male|           Direct|         6|    Noida| 34|     2|null|
| 21|      2173730|          No|                       1|           30|          E1|                     -13.42|                      42.86|                  65.0|           No|                       No|  Male|           Direct|         1|  Gurgaon| 34|     2|null|
| 22|      2175237|          No|                       7|           30|          E1|                     221.43|                     164.29|                -17.78|           No|                       No|  Male|           Direct|         2|    Noida| 34|     1|null|
+---+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+---------+---+------+----+
only showing top 20 rows

In [12]:
HrDetails.show(5)

+---+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+--------+---+------+----+
|Sno|Candidate_Ref|DOJ_Extended|Duration_to_accept_offer|Notice_period|Offered_band|Pecent_hike_expected_in_CTC|Percent_hike_offered_in_CTC|Percent_difference_CTC|Joining_Bonus|Candidate_relocate_actual|Gender| Candidate_Source|Rex_in_Yrs|Location|Age|LOB_id|_c17|
+---+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+--------+---+------+----+
|  1|      2110407|         Yes|                      14|           30|          E2|                     -20.79|                      13.16|                 42.86|           No|                       No|Female|           Agency|         7|   Noida| 34|     1|null|
|  2|      2112635|          No|                      18|           30|          E2|                       50.0|                      320.0|                 180.0|           No|                       No|  Male|Employee Referral|         8| Chennai| 34|     2|null|
|  3|      2112838|          No|                       3|           45|          E2|                      42.84|                      42.84|                   0.0|           No|                       No|  Male|           Agency|         4|   Noida| 27|     2|null|
|  4|      2115021|          No|                      26|           30|          E2|                      42.84|                      42.84|                   0.0|           No|                       No|  Male|Employee Referral|         4|   Noida| 34|     2|null|
|  5|      2115125|         Yes|                       1|          120|          E2|                      42.59|                      42.59|                   0.0|           No|                      Yes|  Male|Employee Referral|         6|   Noida| 34|     2|   `|
+---+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+--------+---+------+----+
only showing top 5 rows

In [13]:
HrDetails.write.mode("overwrite").saveAsTable('HrDetails')
spark.sql("select * from HrDetails").show()

+---+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+---------+---+------+----+
|Sno|Candidate_Ref|DOJ_Extended|Duration_to_accept_offer|Notice_period|Offered_band|Pecent_hike_expected_in_CTC|Percent_hike_offered_in_CTC|Percent_difference_CTC|Joining_Bonus|Candidate_relocate_actual|Gender| Candidate_Source|Rex_in_Yrs| Location|Age|LOB_id|_c17|
+---+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+---------+---+------+----+
|  1|      2110407|         Yes|                      14|           30|          E2|                     -20.79|                      13.16|                 42.86|           No|                       No|Female|           Agency|         7|    Noida| 34|     1|null|
|  2|      2112635|          No|                      18|           30|          E2|                       50.0|                      320.0|                 180.0|           No|                       No|  Male|Employee Referral|         8|  Chennai| 34|     2|null|
|  3|      2112838|          No|                       3|           45|          E2|                      42.84|                      42.84|                   0.0|           No|                       No|  Male|           Agency|         4|    Noida| 27|     2|null|
|  4|      2115021|          No|                      26|           30|          E2|                      42.84|                      42.84|                   0.0|           No|                       No|  Male|Employee Referral|         4|    Noida| 34|     2|null|
|  5|      2115125|         Yes|                       1|          120|          E2|                      42.59|                      42.59|                   0.0|           No|                      Yes|  Male|Employee Referral|         6|    Noida| 34|     2|   `|
|  6|      2117167|         Yes|                      17|           30|          E1|                      42.83|                      42.83|                   0.0|           No|                       No|  Male|Employee Referral|         2|    Noida| 34|     2|null|
|  7|      2119124|         Yes|                      37|           30|          E2|                      31.58|                      31.58|                   0.0|           No|                       No|  Male|Employee Referral|         7|    Noida| 32|     2|null|
|  9|      2127572|         Yes|                      16|            0|          E1|                      -20.0|                      -20.0|                   0.0|           No|                       No|Female|           Direct|         8|    Noida| 34|     3|null|
| 11|      2138169|          No|                       1|           30|          E1|                     -22.22|                     -22.22|                   0.0|           No|                       No|Female|Employee Referral|         3|  Gurgaon| 26|     4|null|
| 12|      2143362|          No|                       6|           30|          E1|                      240.0|                      220.0|                 -5.88|           No|                       No|  Male|Employee Referral|         3|  Chennai| 34|     5|null|
| 13|      2151180|          No|                     120|           30|          E2|                       5.26|                     -60.53|                 -62.5|           No|                       No|  Male|Employee Referral|         3|    Noida| 34|     2|null|
| 14|      2154264|          No|                       3|            0|          E2|                      28.21|                      37.18|                   7.0|           No|                       No|  Male|Employee Referral|         7|  Chennai| 34|     2|null|
| 15|      2156236|         Yes|                      14|           30|          E2|                       50.0|                      287.5|                158.33|           No|                       No|  Male|           Agency|         7|    Noida| 29|     2|null|
| 16|      2158703|          No|                      44|           75|          E2|                      45.45|                       60.0|                  10.0|           No|                       No|  Male|           Direct|         8|    Noida| 34|     2|null|
| 17|      2161257|          No|                       7|           30|          E3|                      53.85|                       50.0|                  -2.5|           No|                       No|  Male|Employee Referral|         5|    Noida| 34|     2|null|
| 18|      2162487|          No|                       1|           30|          E3|                     -27.31|                     -27.31|                   0.0|           No|                       No|  Male|           Direct|        18|Bangalore| 34|     6|null|
| 19|      2166041|         Yes|                      98|           30|          E2|                       50.0|                     165.36|                 76.91|           No|                       No|  Male|           Agency|         8|    Noida| 36|     2|null|
| 20|      2172982|          No|                       1|            0|          E2|                       30.0|                       30.0|                   0.0|           No|                       No|  Male|           Direct|         6|    Noida| 34|     2|null|
| 21|      2173730|          No|                       1|           30|          E1|                     -13.42|                      42.86|                  65.0|           No|                       No|  Male|           Direct|         1|  Gurgaon| 34|     2|null|
| 22|      2175237|          No|                       7|           30|          E1|                     221.43|                     164.29|                -17.78|           No|                       No|  Male|           Direct|         2|    Noida| 34|     1|null|
+---+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+---------+---+------+----+
only showing top 20 rows

In [14]:
Lob.write.mode("overwrite").saveAsTable("Lob")

spark.sql("select * from Lob").show()

+------+----------+
|LOB_id|       LOB|
+------+----------+
|     1|       ERS|
|     2|     INFRA|
|     3|Healthcare|
|     4|      BFSI|
|     5|      CSMP|
|     6|       ETS|
|     7|      AXON|
|     8|       EAS|
|     9|       MMS|
+------+----------+

In [15]:
EmpJoining=EmpJoining.withColumnRenamed("Candidate Ref","Candidate_Ref")

In [16]:
EmpJoining.write.mode("overwrite").saveAsTable("EmpJoining")
spark.sql("select * from EmpJoining").show()

+-------------+----------+
|Candidate_Ref|    Status|
+-------------+----------+
|      2110407|    Joined|
|      2112635|    Joined|
|      2112838|    Joined|
|      2115021|    Joined|
|      2115125|    Joined|
|      2117167|    Joined|
|      2119124|    Joined|
|      2127572|    Joined|
|      2138169|    Joined|
|      2143362|    Joined|
|      2151180|Not Joined|
|      2154264|    Joined|
|      2156236|Not Joined|
|      2158703|Not Joined|
|      2161257|Not Joined|
|      2162487|    Joined|
|      2166041|Not Joined|
|      2172982|    Joined|
|      2173730|    Joined|
|      2175237|    Joined|
+-------------+----------+
only showing top 20 rows

# JOINING TABLE

In [17]:
Combine_Data=HrDetails.join(Lob,['LOB_id'])
Combine_Data=HrDetails.join(EmpJoining,['Candidate_Ref'])
Combine_Data.show()

+-------------+---+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+---------+---+------+----+----------+
|Candidate_Ref|Sno|DOJ_Extended|Duration_to_accept_offer|Notice_period|Offered_band|Pecent_hike_expected_in_CTC|Percent_hike_offered_in_CTC|Percent_difference_CTC|Joining_Bonus|Candidate_relocate_actual|Gender| Candidate_Source|Rex_in_Yrs| Location|Age|LOB_id|_c17|    Status|
+-------------+---+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+---------+---+------+----+----------+
|      2110407|  1|         Yes|                      14|           30|          E2|                     -20.79|                      13.16|                 42.86|           No|                       No|Female|           Agency|         7|    Noida| 34|     1|null|    Joined|
|      2112635|  2|          No|                      18|           30|          E2|                       50.0|                      320.0|                 180.0|           No|                       No|  Male|Employee Referral|         8|  Chennai| 34|     2|null|    Joined|
|      2112838|  3|          No|                       3|           45|          E2|                      42.84|                      42.84|                   0.0|           No|                       No|  Male|           Agency|         4|    Noida| 27|     2|null|    Joined|
|      2115021|  4|          No|                      26|           30|          E2|                      42.84|                      42.84|                   0.0|           No|                       No|  Male|Employee Referral|         4|    Noida| 34|     2|null|    Joined|
|      2115125|  5|         Yes|                       1|          120|          E2|                      42.59|                      42.59|                   0.0|           No|                      Yes|  Male|Employee Referral|         6|    Noida| 34|     2|   `|    Joined|
|      2117167|  6|         Yes|                      17|           30|          E1|                      42.83|                      42.83|                   0.0|           No|                       No|  Male|Employee Referral|         2|    Noida| 34|     2|null|    Joined|
|      2119124|  7|         Yes|                      37|           30|          E2|                      31.58|                      31.58|                   0.0|           No|                       No|  Male|Employee Referral|         7|    Noida| 32|     2|null|    Joined|
|      2127572|  9|         Yes|                      16|            0|          E1|                      -20.0|                      -20.0|                   0.0|           No|                       No|Female|           Direct|         8|    Noida| 34|     3|null|    Joined|
|      2138169| 11|          No|                       1|           30|          E1|                     -22.22|                     -22.22|                   0.0|           No|                       No|Female|Employee Referral|         3|  Gurgaon| 26|     4|null|    Joined|
|      2143362| 12|          No|                       6|           30|          E1|                      240.0|                      220.0|                 -5.88|           No|                       No|  Male|Employee Referral|         3|  Chennai| 34|     5|null|    Joined|
|      2151180| 13|          No|                     120|           30|          E2|                       5.26|                     -60.53|                 -62.5|           No|                       No|  Male|Employee Referral|         3|    Noida| 34|     2|null|Not Joined|
|      2154264| 14|          No|                       3|            0|          E2|                      28.21|                      37.18|                   7.0|           No|                       No|  Male|Employee Referral|         7|  Chennai| 34|     2|null|    Joined|
|      2156236| 15|         Yes|                      14|           30|          E2|                       50.0|                      287.5|                158.33|           No|                       No|  Male|           Agency|         7|    Noida| 29|     2|null|Not Joined|
|      2158703| 16|          No|                      44|           75|          E2|                      45.45|                       60.0|                  10.0|           No|                       No|  Male|           Direct|         8|    Noida| 34|     2|null|Not Joined|
|      2161257| 17|          No|                       7|           30|          E3|                      53.85|                       50.0|                  -2.5|           No|                       No|  Male|Employee Referral|         5|    Noida| 34|     2|null|Not Joined|
|      2162487| 18|          No|                       1|           30|          E3|                     -27.31|                     -27.31|                   0.0|           No|                       No|  Male|           Direct|        18|Bangalore| 34|     6|null|    Joined|
|      2166041| 19|         Yes|                      98|           30|          E2|                       50.0|                     165.36|                 76.91|           No|                       No|  Male|           Agency|         8|    Noida| 36|     2|null|Not Joined|
|      2172982| 20|          No|                       1|            0|          E2|                       30.0|                       30.0|                   0.0|           No|                       No|  Male|           Direct|         6|    Noida| 34|     2|null|    Joined|
|      2173730| 21|          No|                       1|           30|          E1|                     -13.42|                      42.86|                  65.0|           No|                       No|  Male|           Direct|         1|  Gurgaon| 34|     2|null|    Joined|
|      2175237| 22|          No|                       7|           30|          E1|                     221.43|                     164.29|                -17.78|           No|                       No|  Male|           Direct|         2|    Noida| 34|     1|null|    Joined|
+-------------+---+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+---------+---+------+----+----------+
only showing top 20 rows

# Save df to a new table in Hive & Showing the results using SELECT

In [18]:
from pyspark.sql import functions as F

In [19]:
Combine_Data.select('Candidate_Ref', 'Rex_in_Yrs','Status').show(10)

+-------------+----------+------+
|Candidate_Ref|Rex_in_Yrs|Status|
+-------------+----------+------+
|      2110407|         7|Joined|
|      2112635|         8|Joined|
|      2112838|         4|Joined|
|      2115021|         4|Joined|
|      2115125|         6|Joined|
|      2117167|         2|Joined|
|      2119124|         7|Joined|
|      2127572|         8|Joined|
|      2138169|         3|Joined|
|      2143362|         3|Joined|
+-------------+----------+------+
only showing top 10 rows

In [20]:
df_location=Combine_Data.filter(Combine_Data.Location.isNotNull())
df_location.select("Location").distinct().show()

+---------+
| Location|
+---------+
|Bangalore|
|  Chennai|
|   Mumbai|
|Ahmedabad|
|  Kolkata|
|    Noida|
|  Gurgaon|
|     Pune|
|   Others|
|   Cochin|
|Hyderabad|
+---------+

In [21]:
Combine_Data.dtypes

[('Candidate_Ref', 'int'),
 ('Sno', 'int'),
 ('DOJ_Extended', 'string'),
 ('Duration_to_accept_offer', 'int'),
 ('Notice_period', 'int'),
 ('Offered_band', 'string'),
 ('Pecent_hike_expected_in_CTC', 'double'),
 ('Percent_hike_offered_in_CTC', 'double'),
 ('Percent_difference_CTC', 'double'),
 ('Joining_Bonus', 'string'),
 ('Candidate_relocate_actual', 'string'),
 ('Gender', 'string'),
 ('Candidate_Source', 'string'),
 ('Rex_in_Yrs', 'int'),
 ('Location', 'string'),
 ('Age', 'int'),
 ('LOB_id', 'int'),
 ('_c17', 'string'),
 ('Status', 'string')]

In [23]:
from pyspark.sql.types import *
Schema=StructType([
  StructField('Candidate_Ref',IntegerType(),nullable=True),
  StructField('Sno',IntegerType(),nullable=True),
  StructField('DOJ_Extended',StringType(),nullable=True),
  StructField('Duration_to_accept_offer',IntegerType(),nullable=True),
  StructField('Notice_period',IntegerType(),nullable=True),
  StructField('Offered_band',StringType(),nullable=True),
  StructField('Pecent_hike_expected_in_CTC',DoubleType(),nullable=True),
  StructField('Pecent_hike_offered_in_CTC',DoubleType(),nullable=True),
  StructField('Percent_difference_CTC',DoubleType(),nullable=True),
  StructField('Joining_Bonus',StringType(),nullable=True),
  StructField('Candidate_relocate_actual',StringType(),nullable=True),
  StructField('Gender',StringType(),nullable=True),
  StructField('Candidate_Source',StringType(),nullable=True),
  StructField('Rex_in_Yrs',IntegerType(),nullable=True),
  StructField('Location',StringType(),nullable=True),
  StructField('Age',IntegerType(),nullable=True),
  StructField('LOB_id',IntegerType(),nullable=True),
  StructField('Status',StringType(),nullable=True)
  ])
df_Combine_Data = spark.read.option("header",True).schema(Schema).csv('Combine_Data.csv')

# filter data by null values

In [24]:
df_unique=df_Combine_Data.select(df_Combine_Data.Candidate_Ref.isNull()).show()

+-----------------------+
|(Candidate_Ref IS NULL)|
+-----------------------+
|                  false|
|                  false|
|                  false|
|                  false|
|                  false|
|                  false|
|                  false|
|                  false|
|                  false|
|                  false|
|                  false|
|                  false|
|                  false|
|                  false|
|                  false|
|                  false|
|                  false|
|                  false|
|                  false|
|                  false|
+-----------------------+
only showing top 20 rows

In [25]:
df_Combine_Data.show()

+-------------+---+------------+------------------------+-------------+------------+---------------------------+--------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+---------+---+------+------+
|Candidate_Ref|Sno|DOJ_Extended|Duration_to_accept_offer|Notice_period|Offered_band|Pecent_hike_expected_in_CTC|Pecent_hike_offered_in_CTC|Percent_difference_CTC|Joining_Bonus|Candidate_relocate_actual|Gender| Candidate_Source|Rex_in_Yrs| Location|Age|LOB_id|Status|
+-------------+---+------------+------------------------+-------------+------------+---------------------------+--------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+---------+---+------+------+
|      2112635|  2|          No|                      18|           30|          E2|                       50.0|                     320.0|                 180.0|           No|                       No|  Male|Employee Referral|         8|  Chennai| 34|     2|  null|
|      2112838|  3|          No|                       3|           45|          E2|                      42.84|                     42.84|                   0.0|           No|                       No|  Male|           Agency|         4|    Noida| 27|     2|  null|
|      2115021|  4|          No|                      26|           30|          E2|                      42.84|                     42.84|                   0.0|           No|                       No|  Male|Employee Referral|         4|    Noida| 34|     2|  null|
|      2115125|  5|         Yes|                       1|          120|          E2|                      42.59|                     42.59|                   0.0|           No|                      Yes|  Male|Employee Referral|         6|    Noida| 34|     2|     `|
|      2117167|  6|         Yes|                      17|           30|          E1|                      42.83|                     42.83|                   0.0|           No|                       No|  Male|Employee Referral|         2|    Noida| 34|     2|  null|
|      2119124|  7|         Yes|                      37|           30|          E2|                      31.58|                     31.58|                   0.0|           No|                       No|  Male|Employee Referral|         7|    Noida| 32|     2|  null|
|      2127572|  9|         Yes|                      16|            0|          E1|                      -20.0|                     -20.0|                   0.0|           No|                       No|Female|           Direct|         8|    Noida| 34|     3|  null|
|      2138169| 11|          No|                       1|           30|          E1|                     -22.22|                    -22.22|                   0.0|           No|                       No|Female|Employee Referral|         3|  Gurgaon| 26|     4|  null|
|      2143362| 12|          No|                       6|           30|          E1|                      240.0|                     220.0|                 -5.88|           No|                       No|  Male|Employee Referral|         3|  Chennai| 34|     5|  null|
|      2151180| 13|          No|                     120|           30|          E2|                       5.26|                    -60.53|                 -62.5|           No|                       No|  Male|Employee Referral|         3|    Noida| 34|     2|  null|
|      2154264| 14|          No|                       3|            0|          E2|                      28.21|                     37.18|                   7.0|           No|                       No|  Male|Employee Referral|         7|  Chennai| 34|     2|  null|
|      2156236| 15|         Yes|                      14|           30|          E2|                       50.0|                     287.5|                158.33|           No|                       No|  Male|           Agency|         7|    Noida| 29|     2|  null|
|      2158703| 16|          No|                      44|           75|          E2|                      45.45|                      60.0|                  10.0|           No|                       No|  Male|           Direct|         8|    Noida| 34|     2|  null|
|      2161257| 17|          No|                       7|           30|          E3|                      53.85|                      50.0|                  -2.5|           No|                       No|  Male|Employee Referral|         5|    Noida| 34|     2|  null|
|      2162487| 18|          No|                       1|           30|          E3|                     -27.31|                    -27.31|                   0.0|           No|                       No|  Male|           Direct|        18|Bangalore| 34|     6|  null|
|      2166041| 19|         Yes|                      98|           30|          E2|                       50.0|                    165.36|                 76.91|           No|                       No|  Male|           Agency|         8|    Noida| 36|     2|  null|
|      2172982| 20|          No|                       1|            0|          E2|                       30.0|                      30.0|                   0.0|           No|                       No|  Male|           Direct|         6|    Noida| 34|     2|  null|
|      2173730| 21|          No|                       1|           30|          E1|                     -13.42|                     42.86|                  65.0|           No|                       No|  Male|           Direct|         1|  Gurgaon| 34|     2|  null|
|      2175237| 22|          No|                       7|           30|          E1|                     221.43|                    164.29|                -17.78|           No|                       No|  Male|           Direct|         2|    Noida| 34|     1|  null|
|      2175323| 23|          No|                       1|            0|          E3|                      42.78|                     42.78|                   0.0|           No|                      Yes|  Male|Employee Referral|         8|  Chennai| 29|     2|  null|
+-------------+---+------------+------------------------+-------------+------------+---------------------------+--------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+---------+---+------+------+
only showing top 20 rows

In [26]:
df_Combine_Data.count()

8994

In [27]:
df_Combine_Data.printSchema()

root
 |-- Candidate_Ref: integer (nullable = true)
 |-- Sno: integer (nullable = true)
 |-- DOJ_Extended: string (nullable = true)
 |-- Duration_to_accept_offer: integer (nullable = true)
 |-- Notice_period: integer (nullable = true)
 |-- Offered_band: string (nullable = true)
 |-- Pecent_hike_expected_in_CTC: double (nullable = true)
 |-- Pecent_hike_offered_in_CTC: double (nullable = true)
 |-- Percent_difference_CTC: double (nullable = true)
 |-- Joining_Bonus: string (nullable = true)
 |-- Candidate_relocate_actual: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Candidate_Source: string (nullable = true)
 |-- Rex_in_Yrs: integer (nullable = true)
 |-- Location: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- LOB_id: integer (nullable = true)
 |-- Status: string (nullable = true)

In [28]:
df_Combine_Data.fillna(value=0)

DataFrame[Candidate_Ref: int, Sno: int, DOJ_Extended: string, Duration_to_accept_offer: int, Notice_period: int, Offered_band: string, Pecent_hike_expected_in_CTC: double, Pecent_hike_offered_in_CTC: double, Percent_difference_CTC: double, Joining_Bonus: string, Candidate_relocate_actual: string, Gender: string, Candidate_Source: string, Rex_in_Yrs: int, Location: string, Age: int, LOB_id: int, Status: string]

# unique values in different columns

In [29]:
df_Combine_Data.select("Joining_Bonus").distinct().collect()

[Row(Joining_Bonus='No'), Row(Joining_Bonus='Yes')]

In [30]:
df_Combine_Data.select("Location").distinct().collect()

[Row(Location='Bangalore'),
 Row(Location='Chennai'),
 Row(Location='Mumbai'),
 Row(Location='Ahmedabad'),
 Row(Location='Kolkata'),
 Row(Location='Noida'),
 Row(Location='Gurgaon'),
 Row(Location='Pune'),
 Row(Location='Others'),
 Row(Location='Cochin'),
 Row(Location='Hyderabad')]

In [31]:
df_Combine_Data.select("Offered_Band").distinct().collect()

[Row(Offered_Band=None),
 Row(Offered_Band='E0'),
 Row(Offered_Band='E3'),
 Row(Offered_Band='E1'),
 Row(Offered_Band='E2')]

In [32]:
df_Combine_Data.select("Rex_in_Yrs").distinct().collect()

[Row(Rex_in_Yrs=12),
 Row(Rex_in_Yrs=22),
 Row(Rex_in_Yrs=1),
 Row(Rex_in_Yrs=13),
 Row(Rex_in_Yrs=6),
 Row(Rex_in_Yrs=16),
 Row(Rex_in_Yrs=3),
 Row(Rex_in_Yrs=20),
 Row(Rex_in_Yrs=5),
 Row(Rex_in_Yrs=15),
 Row(Rex_in_Yrs=9),
 Row(Rex_in_Yrs=17),
 Row(Rex_in_Yrs=4),
 Row(Rex_in_Yrs=8),
 Row(Rex_in_Yrs=7),
 Row(Rex_in_Yrs=10),
 Row(Rex_in_Yrs=24),
 Row(Rex_in_Yrs=11),
 Row(Rex_in_Yrs=14),
 Row(Rex_in_Yrs=2),
 Row(Rex_in_Yrs=0),
 Row(Rex_in_Yrs=18)]

count of Location of different cities

In [33]:
from pyspark.sql.functions import desc

# Display number of values in Location column
df_Combine_Data.groupBy('Location').count().orderBy(desc("count")).show(df_Combine_Data.count(), True)

+---------+-----+
| Location|count|
+---------+-----+
|  Chennai| 3150|
|    Noida| 2726|
|Bangalore| 2230|
|Hyderabad|  341|
|   Mumbai|  197|
|  Gurgaon|  146|
|  Kolkata|  129|
|     Pune|   48|
|   Others|   13|
|   Cochin|    8|
|Ahmedabad|    6|
+---------+-----+

In [34]:
df_Combine_Data.printSchema()

root
 |-- Candidate_Ref: integer (nullable = true)
 |-- Sno: integer (nullable = true)
 |-- DOJ_Extended: string (nullable = true)
 |-- Duration_to_accept_offer: integer (nullable = true)
 |-- Notice_period: integer (nullable = true)
 |-- Offered_band: string (nullable = true)
 |-- Pecent_hike_expected_in_CTC: double (nullable = true)
 |-- Pecent_hike_offered_in_CTC: double (nullable = true)
 |-- Percent_difference_CTC: double (nullable = true)
 |-- Joining_Bonus: string (nullable = true)
 |-- Candidate_relocate_actual: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Candidate_Source: string (nullable = true)
 |-- Rex_in_Yrs: integer (nullable = true)
 |-- Location: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- LOB_id: integer (nullable = true)
 |-- Status: string (nullable = true)

# Write PySpark routines to cleanse the data, prepare the data to handle missing values, and the data transformations identified in task 1.1 again making sure that the data is written into Hive tables in an efficient format

In [35]:
from pyspark.sql import Row
from pyspark.sql.functions import min, max

In [36]:
df_Combine_Data.select(min("Rex_in_Yrs"),max("Rex_in_Yrs")).show(df_Combine_Data.count(), False)

+---------------+---------------+
|min(Rex_in_Yrs)|max(Rex_in_Yrs)|
+---------------+---------------+
|0              |24             |
+---------------+---------------+

In [37]:
df_Combine_Data.select(min("Pecent_hike_offered_in_CTC"),max("Pecent_hike_offered_in_CTC")).show(df_Combine_Data.count(), False)

+-------------------------------+-------------------------------+
|min(Pecent_hike_offered_in_CTC)|max(Pecent_hike_offered_in_CTC)|
+-------------------------------+-------------------------------+
|-60.53                         |471.43                         |
+-------------------------------+-------------------------------+

In [38]:
df_Combine_Data.write.saveAsTable('Combine_Data')

AnalysisException: 'Table `Combine_Data` already exists.;'

In [ ]:
spark.sql("SELECT Location,COUNT(Location) FROM Combine_Data GROUP BY Location order by count(Location) desc").show(5)

In [ ]:
spark.sql("SELECT Rex_in_Yrs,COUNT(Rex_in_Yrs) FROM Combine_Data GROUP BY Rex_in_Yrs order by count(*) desc").show(5)

In [ ]:
spark.sql("SELECT Offered_band,COUNT(Offered_band) FROM Combine_Data GROUP BY Offered_band order by count(*) desc").show(4)